body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: merriweather;
}
   




.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 90px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
}

.menu a {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #cfcfcf;
    transition: all 0.3s ease;
    font-family: merriweather;
}

.menu a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    padding-top: 100px;
    
}

.result-table {
    width: 90px;
    margin: 10 auto;
    border-collapse: collapse;
    border: 10px solid rgba(221, 8, 8, 0.8);
    
}

.result-table th, .result-table td {
    border: 1px solid rgba(243, 0, 0, 0.952);
    padding: 15px;
    
}

.result-table th {
    background-color: #ec000059;
}

.course-table{
background-color: rgb(177, 177, 177);

}